/* The Nivo Slider styles */
.nivoSlider { position: relative; width: 100%; overflow: hidden; margin-bottom: 30px; /* If an image is wrapped in a link */ }
.nivoSlider img { position: absolute; top: 0px; left: 0px; max-width: none; }
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 6; display: none; background: white; filter: alpha(opacity=0); opacity: 0; }

.nivo-main-image { display: block !important; position: relative !important; width: 100% !important; }

/* The slices and boxes in the Slider */
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; top: 0; }

.nivo-box { display: block; position: absolute; z-index: 5; overflow: hidden; }
.nivo-box img { display: block; }

/* Caption styles */
.nivo-html-caption { display: none; }

@-webkit-keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

@keyframes myfirst { from { width: 0; }
  to { width: 100%; } }

.timethai.pos_hover { -webkit-animation-play-state: paused; animation-play-state: paused; }

/* slideshow edit */
.pos-slideshow { position: relative; }
.pos-slideshow:hover .nivo-directionNav a { opacity: 1; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pos-slideshow .nivo-directionNav a { display: block; width: 30px; height: 150px; line-height: 150px; color: white; background: #000; text-align: center; font-size: 24px; position: absolute; z-index: 9; cursor: pointer; top: 50%; margin-top: -75px; opacity: 0; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
@media (max-width: 640px) { .pos-slideshow .nivo-directionNav a { display: none; } }
.pos-slideshow .nivo-directionNav a.nivo-prevNav { left: 0px; }
.pos-slideshow .nivo-directionNav a.nivo-nextNav { right: 0px; }
.pos-slideshow .nivo-directionNav a:hover { background: #90133b; }
.pos-slideshow .nivo-controlNav { position: absolute; bottom: 25px; left: 0; width: 100%; text-align: center; z-index: 10; }
.pos-slideshow .nivo-controlNav a { display: inline-block; height: 15px; margin: 0 3px; font-size: 0; width: 15px; cursor: pointer; position: relative; text-align: center; z-index: 9; border-radius: 100%; border: 2px solid #fff; background: transparent; }
.pos-slideshow .nivo-controlNav a:before { content: ""; display: block; position: absolute; top: 3px; bottom: 3px; right: 3px; left: 3px; background: #fff; border-radius: 100%; }
.pos-slideshow .nivo-controlNav a.active { background: #90133b; }
