.cart_overlay {
    display: none;
    position: absolute;
    background: white;
    left: -300px;
    top: 40px;
    border: 1px solid #8ba462;
}

.cart_overlay #checkout_button {
    background-color: #8ba462;
    float: right;
    color: #fff;
}
